:root {
    --md-primary-fg-color:        #aa4444;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
}

.md-typeset ul li, .md-typeset ol li {
    margin: 0 !important;
}
